@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light mode at the highest priority */
@layer base {
  html,
  body {
    background-color: white !important;
    color: black !important;
  }

  @layer base {
    html[data-theme='light'],
    body {
      background-color: white !important;
      color: black !important;
    }
  }
}

/* Custom CSS Variables for Chat Height */
:root {
  --chat-height: calc(100vh - 10rem);
}

@media (min-width: 768px) {
  /* md breakpoint */
  :root {
    --chat-height: calc(100vh - 11rem);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
